fastapi
uvicorn
pymongo
dnspython
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
pydantic-settings
python-multipart
langchain
langchain_community
websockets
langchain-groq
pypdf
GitPython
pydantic[email]
